{{define "footer"}}
<footer>
    <a class="footer-item" href="#" target="_blank">{{.Translation.Get "Home"}}</a>
    <a class="footer-item" href="#" target="_blank">{{.Translation.Get "help"}}</a>
    <a class="footer-item" href="mailto:shuaib0786siddiqui@googlemail.com" target="_blank">{{.Translation.Get "contact"}}</a>
    <a class="footer-item" href="https://github.com/shuaibsiddiqui786/scribble/issues/new" target="_blank">{{.Translation.Get "submit-feedback"}}</a>
    <a class="footer-item" href="{{.RootPath}}/v1/stats" target="_blank">{{.Translation.Get "stats"}}</a>
</footer>
{{end}}